<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- 开启防注入 -->
    <add key="safeParameters" value="OrderID-int32,CustomerEmail-email,ShippingZipcode-USzip" />
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=127.0.0.1;database=expense;uid=root;pwd=x5" />
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1" />
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
    <customErrors mode="Off" />
    <identity impersonate="true" />
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!--配置JSON序列化-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>